<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link th:href="@{/resources/css/theme.css}" rel="stylesheet">
    <link th:href="@{/resources/css/productLander.css}" rel="stylesheet">
</head>
<div th:fragment="productCard" style="display: flex; justify-content: space-between">
    <div style="height: 100%; width: 75%; display: flex; flex-direction: column; align-items: flex-start;">
        <div style="display: inline;">
            <img th:src="${product.getIconUrl()}" style="margin: 12px 8px 2px 12px; width: 2em; height: 2em; vertical-align: middle;">
            <h2 style="margin: 12px 8px 2px 0; display: inline-block; vertical-align: middle;" th:text="${product.getName()}"></h2>
        </div>
        <h4 style="margin: 8px 2px 2px 12px; color: var(--grey);" th:text="'by ' + ${owner.getUsername()}"></h4>
        <h4 style="margin: 8px 2px 2px 12px;" th:text="${'$' + product.getPrice()}"></h4>
        <pre style="white-space: pre-wrap; margin: 8px 2px 2px 12px;" th:text="${product.getDescription()}"></pre>
    </div>
    <div style="height: 100%; width: 25%; display: flex; justify-content: flex-end;">
        <!-- User view (to actual download link) -->
        <a class="purchaseContainer" sec:authorize="isAuthenticated()" th:attrappend="target=${!ownsProduct}?_blank" th:href="${ownsProduct} ? '/app/downloadLoader' : ${product.getPurchaseUrl()}">
            <button class="purchaseButton" th:if="${!ownsProduct}">Purchase</button>
            <button class="purchaseButton" th:if="${ownsProduct}">Download loader</button>
        </a>

        <!-- Guest view (to login screen) -->
        <a class="purchaseContainer" sec:authorize="isAnonymous()" href="/login">
            <button class="purchaseButton">Purchase</button>
        </a>
    </div>
</div>
</html>