<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link th:href="@{/resources/css/theme.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div th:fragment="content">
    <div style="background-color: var(--black); padding: 20px; margin: 2% 10% 2% 10%; border-radius: 20px; border: 1px solid var(--bnok-purple)">

    </div>

    <!-- If permitted, the user will see a list of their own privileges in this menu -->
    <div sec:authorize="hasAuthority('PRIV_VIEW_OWN_PRIVS')" style="background-color: var(--black); padding: 20px; margin: 2% 10% 2% 10%; border-radius: 20px; border: 1px solid var(--bnok-purple)">
        <h1>Privileges: </h1>
        <ul>
            <li th:each="priv : ${user.getAuthorities()}" th:text="${priv.getAuthority()}"></li>
        </ul>
    </div>

</div>


</body>
</html>