<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/resources/css/theme.css}" rel="stylesheet">
    <link th:href="@{/resources/css/controlPanel.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<section th:fragment="content" class="defaultPanelSectionStyle">
    <noscript>Please enabled javascript to download our loader</noscript>
    <script>
        function downloadLoader(){
            document.getElementById("downloadLoaderButton").hidden = true;
        }
    </script>
    <button onclick="downloadLoader()" id="downloadLoaderButton">Download loader</button>
</section>

</body>
</html>