.aboutBox{
    margin-bottom: 10px;
    font-size: 1.25em;
    width: 50%;
}

.aboutBox label{
}

.aboutBox p{
    color: var(--grey);
    font-size: 0.6em;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}

.aboutBox input{
    color: var(--accent-two);
    margin-bottom: 1em;
}

.privilegeList{

}