.purchaseButton{
    background-color: var(--background);
    color: var(--text);
    padding: 10px;
    border: 1px solid var(--accent-one);
    border-radius: 2px;
}

.purchaseButton:hover{
    border-color: var(--accent-two);
}

.purchaseContainer{
    margin: 14px;
}