.sideNavLinkContainer{
    width: 100%;
    height: 100%;
    border-right: var(--grey) 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideNavLink{
    width: 100%;
    font-size: 1.15em;
    display: inline-block;
}

.sideNavCurrentPage{
    color: var(--text);
    text-decoration: none;
}

.sideNavCurrentPage:hover, .sideNavCurrentPage:focus{
    text-decoration: underline;
}

.sideNavPage{
    color: var(--dark-grey);
    text-decoration: none;
}

.sideNavPage:hover{
    text-decoration: underline;
}

#sideNavTopHalf{
    padding: 3% 0 3% 3%;
}

#sideNavBottomHalf{
    display: flex;
    flex-direction: column;
    padding: 0;
    border-top: var(--grey) 1px solid;
}

#sideNavBottomControlPane{
    width: 100%;
    height: 3em;
}