.sideNavLink{
    width: 100%;
    margin: 2px;
    font-size: 1.5em;
}

.sideNavCurrentPage{
    color: var(--accent-one);
    text-decoration: none;
}

.sideNavCurrentPage:hover{
    text-decoration: underline;
    text-decoration-color: var(--accent-one);
}

.sideNavCurrentPage:focus{
    text-decoration: underline;
    text-decoration-color: var(--accent-two);
    color: var(--accent-two);
}

.sideNavPage{
    color: var(--text);
    text-decoration: none;
}

.sideNavPage:hover{
    text-decoration: underline;
}

.sideNavPage:focus{
    text-decoration: underline;
    text-decoration-color: var(--accent-two);
}