<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/resources/css/theme.css}" rel="stylesheet">
    <link th:href="@{/resources/css/login.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<section class="loginFormContainer">
    <form class="loginForm" method="POST" th:action="@{/processLogin}">
        <h1>Login: </h1>
        <pre style="color: red; white-space: pre-wrap; width: 100%;" th:if="${error != null}" th:text="${error}"></pre>
        <pre style="color: green; white-space: pre-wrap; width: 100%;" th:if="${notice != null}" th:text="${notice}"></pre>
        <div>
            <label for="email">Email: </label><br/>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="password">Password: </label><br/>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <input type="submit">
        </div>
        <br/>
        <a href="/register"><small>Don't have an account?</small></a>
    </form>
</section>

</body>
</html>