<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{/resources/css/theme.css}" rel="stylesheet">
    <link th:href="@{/resources/css/login.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<section class="loginFormContainer">
    <form class="loginForm" method="POST" th:action="@{/register}">
        <h1>Register: </h1>
        <div>
            <label for="email">Email: </label><br/>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="username">Username: </label><br/>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password: </label><br/>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="confirmPassword">Confirm Password: </label><br/>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <div>
            <input type="submit">
        </div>
        <br/>
        <a href="/login"><small>Already have an account?</small></a>
    </form>
</section>

</body>
</html>